# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark_exercises').getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [7]:
df = spark.read.csv('/FileStore/tables/walmart_stock.csv', inferSchema=True, header=True)

#### What are the column names?

In [9]:
df.columns

#### What does the Schema look like?

In [11]:
df.printSchema()

#### Print out the first 5 columns.

In [13]:
df.select(df.columns[:2]).show()

In [14]:
df.head(5)

#### Use describe() to learn about the DataFrame.

In [16]:
df.describe().show()

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [18]:
des = df.describe()

In [19]:
des.printSchema()

In [20]:
from pyspark.sql.functions import format_number

In [21]:
des.select('summary',
           format_number(des['Open'].cast('Float'), 2).alias('Open'),
           format_number(des['High'].cast('Float'), 2).alias('High'),
           format_number(des['Low'].cast('Float'), 2).alias('Low'),
           format_number(des['Close'].cast('Float'), 2).alias('Close'),
           format_number(des['Volume'].cast('Float'), 2).alias('Volume'),
           format_number(des['Adj Close'].cast('Float'), 2).alias('Adj Close')).show()

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [24]:
df.columns

In [25]:
new_df = df.withColumn('HV Ratio', df['High']/df['Volume'])

In [26]:
new_df.show()

#### What day had the Peak High in Price?

In [28]:
df.sort('High', desc).show()

In [29]:
df.orderBy(df['High'].desc()).head(1)[0]['Date']

#### What is the mean of the Close column?

In [31]:
from pyspark.sql.functions import mean

In [32]:
df.select(mean('Close')).show()

#### What is the max and min of the Volume column?

In [34]:
from pyspark.sql.functions import max, min
df.select(max('Volume'), min('Volume')).show()

#### How many days was the Close lower than 60 dollars?

In [37]:
df[df['Close'] < 60].count()

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [39]:
df[df['High'] > 80].count() / df.count() * 100

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [41]:
df.corr('High', 'Volume')

#### What is the max High per year?

In [43]:
from pyspark.sql.functions import year

In [44]:
df_year = df.withColumn('Year', year('Date'))

In [45]:
df_year.groupBy('Year').max().select('Year', 'max(High)').show()

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [47]:
from pyspark.sql.functions import month, col
df_month = df.withColumn('Month', month('Date'))
df_month.groupBy('Month').avg().select('Month', col('avg(Close)').alias('Average Close')).show()

# Great Job!